html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.container {
    &.padding-top {
        padding-top: 50px;
    }
    &.padding-bottom {
        padding-bottom: 50px;
    }
    a {
        word-break: break-word;
    }
}