.nav-footer {
    background-color: $brand-color;
    .navbar-nav {
        &.vertical {
            flex-direction: column;
        }

        .nav-link {
            color: rgba(255, 255, 255, 1);
        }
    }
}